<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.8.0/css/theme/white.min.css" integrity="sha256-yrL16TdyPisf02WLfBiRl4ST24aYQM/lYN1vhrhc0O8=" crossorigin="anonymous" />
    </head>
    <body>
        <div class="reveal">
                <div class="slides">
                    {{ content }}
                </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.8.0/js/reveal.js" integrity="sha256-jtcENl8rkEXiIgaE02PeFrFJfni/dKi61+2m9QJhnJs=" crossorigin="anonymous"></script>
        <script>
            Reveal.initialize(
                {{ site.revealjs | jsonify }}
            );
        </script>
    </body>
</html>
